Repository ZupIT/beagle-helpers, changes with the labels that .github/labeler.yml gives for each.
All labels: android, backend, iOS, CI/CD

remove gradle wrapper from grpc backend lib and move to root backend projects
  backend/gradlew
  backend/grpc-backend-lib/gradle/wrapper/gradle-wrapper.jar
  backend/grpc-backend-lib/gradle/wrapper/gradle-wrapper.properties
  backend/grpc-backend-lib/gradlew
  backend/grpc-backend-lib/gradlew.bat
Labels: backend

fix
  backend/build.gradle
  backend/grpc-backend-lib/build.gradle
  backend/grpc-backend-lib/settings.gradle
Labels: backend

PR adjustments
  android/beagle-defaults/src/main/java/br/com/zup/beagle/defaults/httpclient/HttpClientDefault.kt
Labels: android

fix gradle modules and publishing steps
  backend/examples/micronaut-grpc-bff/build.gradle
  backend/examples/micronaut-grpc-bff/settings.gradle
  backend/examples/spring-grpc-bff/build.gradle.kts
  backend/examples/spring-grpc-bff/settings.gradle.kts
  backend/settings.gradle
Labels: backend

fix gradle modules and publishing steps
  backend/build.gradle
  backend/examples/micronaut-grpc-bff/build.gradle
  backend/examples/micronaut-grpc-bff/src/main/kotlin/br/com/zup/service/MyBeagleAppService.kt
  backend/examples/micronaut-grpc-bff/src/test/kotlin/br/com/zup/MicronautGrpcBffTest.kt
  backend/examples/spring-grpc-bff/build.gradle.kts
  backend/gradle.properties
  backend/grpc-backend-lib/build.gradle
Labels: backend

fix workflow backend
  .github/workflows/backend-build-check.yml
Labels: CI/CD

fix gradle.build on root dir
  backend/build.gradle
  backend/examples/micronaut-grpc-bff/build.gradle
  backend/examples/micronaut-grpc-bff/src/main/resources/logback.xml
  backend/examples/spring-grpc-bff/build.gradle.kts
  backend/grpc-backend-lib/build.gradle
  backend/grpc-backend-lib/gradle.properties
Labels: backend

add a readme to the project
  web/beagle-grpc/README.md
Labels: none

fix gradle.build on root dir
  backend/examples/micronaut-grpc-bff/src/main/kotlin/br/com/zup/screen/SplashScreen.kt
  backend/examples/micronaut-grpc-bff/src/test/kotlin/br/com/zup/MicronautGrpcBffTest.kt
  backend/examples/spring-grpc-bff/build.gradle.kts
  backend/examples/spring-grpc-bff/src/main/kotlin/br/com/zup/grpcbff/screen/SplashScreen.kt
Labels: backend

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

Update web/beagle-grpc/README.md
  web/beagle-grpc/README.md
Labels: none

fix dependency grpc backend lib on micronaut project
  backend/examples/micronaut-grpc-bff/build.gradle
Labels: backend

fix: remove Beagle gRPC iOS
  BeagleGRPC.podspec
  iOS/beagle-grpc/.gitignore
  iOS/beagle-grpc/Package.swift
  iOS/beagle-grpc/README.md
  iOS/beagle-grpc/Sample/AppDelegate.swift
  iOS/beagle-grpc/Sample/Info.plist
  iOS/beagle-grpc/Sample/LaunchScreen.storyboard
  iOS/beagle-grpc/Sample/Podfile
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/project.pbxproj
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/xcshareddata/xcschemes/SampleGRPC.xcscheme
  iOS/beagle-grpc/Sources/NetworkClientGRPC.swift
  iOS/beagle-grpc/Sources/Proto/messages.pb.swift
  iOS/beagle-grpc/Sources/Proto/screen.grpc.swift
  iOS/beagle-grpc/Sources/Proto/screen.pb.swift
  iOS/beagle-grpc/Sources/UnaryCall.swift
  iOS/beagle-grpc/Sources/ViewNode.swift
  iOS/beagle-grpc/Tests/NetworkClientGRPCTests.swift
  iOS/beagle-grpc/Tests/ViewNodeTests.swift
Labels: none

change branch
  .github/workflows/web-grpc-publish.yml
  web/beagle-grpc/package.json
Labels: CI/CD

fix: remove Beagle gRPC iOS (#80)
  BeagleGRPC.podspec
  iOS/beagle-grpc/.gitignore
  iOS/beagle-grpc/Package.swift
  iOS/beagle-grpc/README.md
  iOS/beagle-grpc/Sample/AppDelegate.swift
  iOS/beagle-grpc/Sample/Info.plist
  iOS/beagle-grpc/Sample/LaunchScreen.storyboard
  iOS/beagle-grpc/Sample/Podfile
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/project.pbxproj
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/beagle-grpc/Sample/SampleGRPC.xcodeproj/xcshareddata/xcschemes/SampleGRPC.xcscheme
  iOS/beagle-grpc/Sources/NetworkClientGRPC.swift
  iOS/beagle-grpc/Sources/Proto/messages.pb.swift
  iOS/beagle-grpc/Sources/Proto/screen.grpc.swift
  iOS/beagle-grpc/Sources/Proto/screen.pb.swift
  iOS/beagle-grpc/Sources/UnaryCall.swift
  iOS/beagle-grpc/Sources/ViewNode.swift
  iOS/beagle-grpc/Tests/NetworkClientGRPCTests.swift
  iOS/beagle-grpc/Tests/ViewNodeTests.swift
Labels: none

fix build.gradle files on backend applications
  backend/build.gradle
  backend/examples/micronaut-grpc-bff/build.gradle
  backend/examples/micronaut-grpc-bff/gradle.properties
  backend/gradle.properties
Labels: backend

chore: moved gRPC libray to another repo
  android/beagle-grpc/build.gradle
  android/beagle-grpc/consumer-rules.pro
  android/beagle-grpc/gradle.properties
  android/beagle-grpc/proguard-rules.pro
  android/beagle-grpc/src/main/AndroidManifest.xml
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/Constant.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/HeaderClientInterceptor.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/NetworkingMoshi.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/DataContextAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapterFactory.kt
  android/beagle-grpc/src/main/proto/messages.proto
  android/beagle-grpc/src/main/proto/screen.proto
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/GrpcClientTest.kt
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/ViewNodeTestObject.kt
  android/settings.gradle
Labels: android

refactor: removed unnecessary dependency
  android/build.gradle
Labels: android

chore: moved gRPC library to another repo (#82)
  android/beagle-grpc/build.gradle
  android/beagle-grpc/consumer-rules.pro
  android/beagle-grpc/gradle.properties
  android/beagle-grpc/proguard-rules.pro
  android/beagle-grpc/src/main/AndroidManifest.xml
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/Constant.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/HeaderClientInterceptor.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/NetworkingMoshi.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/DataContextAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapterFactory.kt
  android/beagle-grpc/src/main/proto/messages.proto
  android/beagle-grpc/src/main/proto/screen.proto
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/GrpcClientTest.kt
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/ViewNodeTestObject.kt
  android/build.gradle
  android/settings.gradle
Labels: android

chore: removed test android library
  android/android-test/.gitignore
  android/android-test/build.gradle
  android/android-test/consumer-rules.pro
  android/android-test/gradle.properties
  android/android-test/proguard-rules.pro
  android/android-test/src/main/AndroidManifest.xml
  android/android-test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsRule.kt
  android/android-test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
  android/settings.gradle
Labels: android

chore: removed test android library (#83)
  android/android-test/.gitignore
  android/android-test/build.gradle
  android/android-test/consumer-rules.pro
  android/android-test/gradle.properties
  android/android-test/proguard-rules.pro
  android/android-test/src/main/AndroidManifest.xml
  android/android-test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsRule.kt
  android/android-test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
  android/settings.gradle
Labels: android

:bug: Fixes version number via tag generation
  fastlane/Fastfile
Labels: CI/CD

:bug: Fixes version number via tag generation (#85)
  fastlane/Fastfile
Labels: CI/CD

Updated readme
  README.md
Labels: none

fix: updated log4j
  backend/pom.xml
Labels: backend

fix: updated log4j (#87)
  backend/pom.xml
Labels: backend

fix: updated log4j
  backend/pom.xml
Labels: backend

fix: updated log4j (#88)
  backend/pom.xml
Labels: backend

Updated log4j.
  backend/pom.xml
Labels: backend

Updated log4j. (#89)
  backend/pom.xml
Labels: backend

fix: updated log4j
  backend/pom.xml
Labels: backend

fix: updated log4j (#90)
  backend/pom.xml
Labels: backend

.github/labeler.yml:

android:
    - android/**

backend:
    - backend/**

iOS:
    - ios/**

CI/CD:
    - danger/**
    - fastlane/**
    - .github/**
    - gradle/**
