Repository ZupIT/beagle-helpers, pull requests merged in 2021-05, with the labels that each got.

#70 feat: update beagle version to 1.7.0 in beagle scaffold project
  android/beagle-defaults-sample/build.gradle
  android/beagle-defaults/build.gradle
  android/beagle-scaffold-sample/build.gradle
  android/beagle-scaffold/build.gradle
  android/beagle-scaffold/src/main/java/br/com/zup/beagle/scaffold/BeagleScaffold.kt
  android/beagle-scaffold/src/test/java/br/com/zup/beagle/scaffold/BeagleScaffoldTest.kt
  android/build.gradle
  android/gradle.properties
Labels: android

#65 feat: add grpc lib to beagle
  grpc-backend-lib/README.md
  grpc-backend-lib/build.gradle
  grpc-backend-lib/gradle.properties
  grpc-backend-lib/gradle/wrapper/gradle-wrapper.jar
  grpc-backend-lib/gradle/wrapper/gradle-wrapper.properties
  grpc-backend-lib/gradlew
  grpc-backend-lib/gradlew.bat
  grpc-backend-lib/settings.gradle
  grpc-backend-lib/src/main/kotlin/br/com/zup/grpc/BeagleGrpcUtil.kt
  grpc-backend-lib/src/main/kotlin/br/com/zup/grpc/BeagleScreenService.kt
  grpc-backend-lib/src/main/kotlin/br/com/zup/grpc/exception/BeagleException.kt
  grpc-backend-lib/src/main/proto/messages.proto
  grpc-backend-lib/src/main/proto/screen.proto
  grpc-backend-lib/src/test/kotlin/br.com.zup.grpc/BeagleGrpcUtilTest.kt
  grpc-backend-lib/src/test/kotlin/br.com.zup.grpc/BeagleScreenServiceTest.kt
Labels: backend, enhancement

#66 feat: add springboot and micronaut grpc bff example
  backend/src/main/kotlin/br/com/zup/bff/builder/ComponentScreenBuilder.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  micronaut-grpc-bff/.gitignore
  micronaut-grpc-bff/README.md
  micronaut-grpc-bff/build.gradle
  micronaut-grpc-bff/gradle.properties
  micronaut-grpc-bff/gradle/wrapper/gradle-wrapper.jar
  micronaut-grpc-bff/gradle/wrapper/gradle-wrapper.properties
  micronaut-grpc-bff/gradlew
  micronaut-grpc-bff/gradlew.bat
  micronaut-grpc-bff/micronaut-cli.yml
  micronaut-grpc-bff/settings.gradle
  micronaut-grpc-bff/src/main/kotlin/br/com/zup/Application.kt
  micronaut-grpc-bff/src/main/kotlin/br/com/zup/interceptor/BeagleHeadersInterceptor.kt
  micronaut-grpc-bff/src/main/kotlin/br/com/zup/interceptor/ServerInterceptorFactory.kt
  micronaut-grpc-bff/src/main/kotlin/br/com/zup/screen/HomeScreen.kt
  micronaut-grpc-bff/src/main/kotlin/br/com/zup/screen/SplashScreen.kt
  micronaut-grpc-bff/src/main/kotlin/br/com/zup/service/MyBeagleAppService.kt
  micronaut-grpc-bff/src/main/resources/application.yml
  micronaut-grpc-bff/src/main/resources/logback.xml
  micronaut-grpc-bff/src/test/kotlin/br/com/zup/MicronautGrpcBffTest.kt
  spring-grpc-bff/.gitignore
  spring-grpc-bff/README.md
  spring-grpc-bff/build.gradle.kts
  spring-grpc-bff/gradle/wrapper/gradle-wrapper.jar
  spring-grpc-bff/gradle/wrapper/gradle-wrapper.properties
  spring-grpc-bff/gradlew
  spring-grpc-bff/gradlew.bat
  spring-grpc-bff/settings.gradle.kts
  spring-grpc-bff/src/main/kotlin/br/com/zup/grpcbff/GrpcBffApplication.kt
  spring-grpc-bff/src/main/kotlin/br/com/zup/grpcbff/interceptor/BeagleHeadersInterceptor.kt
  spring-grpc-bff/src/main/kotlin/br/com/zup/grpcbff/screen/HomeScreen.kt
  spring-grpc-bff/src/main/kotlin/br/com/zup/grpcbff/screen/SplashScreen.kt
  spring-grpc-bff/src/main/kotlin/br/com/zup/grpcbff/service/MyBeagleScreenService.kt
  spring-grpc-bff/src/main/resources/application.properties
  spring-grpc-bff/src/test/kotlin/br/com/zup/grpcbff/GrpcBffApplicationTests.kt
Labels: backend, enhancement

#76 fix: backend directory2
  .github/labeler.yml
  android/beagle-defaults/build.gradle
  android/beagle-scaffold/build.gradle
  backend/build.gradle
  backend/gradle.properties
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/grpc-backend-lib/build.gradle
  backend/grpc-backend-lib/gradle.properties
  backend/settings.gradle
  fastlane/Fastfile
  maven-publish.gradle
Labels: backend
